@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
html
{
    scroll-behavior: smooth;
}
::-webkit-scrollbar
{
    width: 0;
}
div.scrollpath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}
div.progressbar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7 );
    animation: animate 10s linear infinite;
    z-index: 1;
}
div.progressbar:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7 );
    filter: blur(30px);
    z-index: 1;
}
@keyframes animate
{
    0%, 100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    font-size: 105%;
}
body
{
    background: #000;
    min-height: 100vh;
    min-width: 100vw;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky
{
    padding: 5px 100px;
    background: #000;
}
header .nev
{
    position: relative;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 10px;
    transition: 0.6s;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
.navigacio
{
    position: relative;
    margin: 0 50px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s ease-in-out;
}

.navigacio:hover, .nev:hover
{
    font-style: italic;
    color: rgb(199, 152, 21);
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
}
#fooldal
{
    position: relative;
    background: url('pics/fo.jpg');
    background-attachment: fixed;
    background-size: cover;
}
#rolam
{
    position: relative;
    background: url('pics/about.jpeg');
    background-attachment: fixed;
    background-size: cover;
}
.cim
{
    letter-spacing: 20px;
    padding-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    font-size: 75px;
    background-color: rgba(255,255,255,0.6);
    outline: 10px inset rgb(199, 152, 21);
    z-index: 0;
}
#rolamszoveg
{
    background: #87CEFA;
    padding: 100px;
}
#rolamszoveg img
{
    display: inline;
    filter: blur(5px);
    min-width: 250px;
    min-height: 333.3px;
    max-width: 250px;
    max-height: 333.3px;
    transition: 0.5s ease-in-out;
    margin: 100px;
    z-index: 1;
}
#rolamszoveg img:hover
{
    display: inline;
    filter: blur(0px);
    transform: scale(1.5);
    border-radius: 3px;
}
#rolamszoveg ul
{
    text-align: left;
}
#magamrol
{
    font-size: 500;
    color: #000;
    letter-spacing: 2px;
    list-style: none;
}
#szolg
{
    position: relative;
    background: url('pics/services.jpeg');
    background-attachment: fixed;
    background-size: cover;
}
#szolgszoveg
{
    background: #FFA07A;
}
#szolgszoveg ul
{
    position: absolute;
    text-align: center;
    line-height: 50px;
}
#szolgszoveg ul li
{
    font-size: 500;
    color: #000;
    letter-spacing: 2px;
    list-style: none;
}
#munka
{
    position: relative;
    background: url('pics/work.jpeg');
    background-attachment: fixed;
    background-size: cover;
}
#munkaszoveg
{
    background: #6A5ACD;
}
#munkaszoveg ul
{
    position: absolute;
    text-align: center;
    line-height: 50px;
}
#munkaszoveg ul li
{
    font-size: 500;
    color: #000;
    letter-spacing: 2px;
    list-style: none;
}
#munkaszoveg ul li a
{
    color: black;
    padding: 5px;
    border-radius: 50%;
    text-decoration: underline;
    transition: 0.6s ease-in-out;
}
#munkaszoveg ul li a:hover
{
    color: rgb(199, 152, 21);;
    text-decoration: none;
    font-style: italic;
}
#csapat
{
    position: relative;
    background: url('pics/team.jpeg');
    background-attachment: fixed;
    background-size: cover;
}
#csapatszoveg
{
    background: #708090;
}
#csapatszoveg ul
{
    position: absolute;
    text-align: center;
    line-height: 50px;
}
#csapatszoveg ul li
{
    font-size: 500;
    color: #000;
    letter-spacing: 2px;
    list-style: none;
}
#elerh
{
    position: relative;
    background: url('pics/elerh.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#elerhszoveg
{
    background: #D8BFD8;
}
#elerhszoveg ul
{
    position: absolute;
    text-align: center;
    line-height: 50px;
}
#elerhszoveg ul li
{
    font-size: 500;
    color: #000;
    letter-spacing: 2px;
    list-style: none;
    padding-bottom: 10px;
}
#elerhszoveg ul li a
{
    color: black;
    text-decoration: none;
    font-style: italic;
}
#elerhszoveg ul li a:hover
{
    color: white;
    text-decoration: none;
    font-style: italic;
}
#elerhszoveg ul li a:after {    
    bottom: 10;
    content: "";
    display: block;
    height: 3px;
    left: 100%;
    position: absolute;
    background: #000000;
    transition: 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
  }
  #elerhszoveg ul li a:hover:after { 
    width: 100%; 
    left: 0; 
  }


section
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
header.sticky .logo,
header.sticky ul li a
{
    color: #fff;
}
hr
{
    background: linear-gradient(to top, #008aff, #00ffe7 );
    animation: animate 10s linear infinite;
    height: 5px;
    border: 0px;
}
footer
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 300px;
    z-index: 100000;
}
#logo
{
    transform: scale(0.5);
}
footer .footerszov
{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #fff;
}
.container
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
}
.container .divsection
{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

@media (max-width: 1680px)
{
    ::-webkit-scrollbar
    {
    width: 1;
    }
    header
    {
        margin: 0;
        padding: 10px 30px;
    }
    header.sticky
    {
        margin: 0;
        padding: 5px 20px;
    }
    .nev
    {
        margin: 0;
        padding-top: 5px;
        display: inline-block;
    }
    header ul li
    {
        padding: 0;
        margin: 0;
    }
    footer
    {
        margin: 0;
        padding: 0;
    }
    .footerszov
    {
        padding: 15px;
        padding-left: 30px;
    }
    #logo
    {
        margin: 0;
        padding: 15px;
    }
    .leiras
    {
        font-size: 250%;
        line-height: 150%;
        padding: 15px;
    }
}

@media (max-width: 1280px)
{
    *
    {
    font-size: 100%;
    }
    .navigacio
    {
        margin: 0 20px;
    }
}